.contentSectionContainer {
  min-height: 30vh;
  margin: 0;
  box-shadow: 0.2rem 2px 2px 0px rgba(200, 200, 200);
}

.primaryColor {
  background: #071428;
}

.secondaryColor {
  background: #191f28;
}
