.menuLink {
  color: #ccc;
  font-size: 1.2rem;
  margin: 0.3rem 0.7rem;
  text-shadow: 0.1rem 1px 1px rgba(240, 200, 200, 0.2);
  text-decoration: none;
}

:any-link:active {
  color: #fff;
  text-decoration: underline;
}

:any-link:visited {
  color: #aaa;
}
