.headerContainer {
  color: #eee;
  background: transparent;
  position: fixed;
  display: flex;
  font-size: 2rem;
  grid-template-columns: 2fr 6fr 2fr;
  justify-content: space-between;
  justify-items: center;
  margin: 0;
  padding: 1rem 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.links {
  color: #eee;
  margin: 1rem 2rem;
  justify-content: center;
}
