/* 
  color: #2c4770;
  color: #191f28;
  color: #071428;
  color: #7895c2;
  color: #1e5ec2; 
  */

* {
  margin: 0;
  padding: 0;
}

main.main {
  position: relative;
  font-family: 'Montserrat';
  max-width: 100%;
}
