.color-primary-0 {
  color: #2c4770;
} /* Main Primary color */
.color-primary-1 {
  color: #191f28;
}
.color-primary-2 {
  color: #071428;
}
.color-primary-3 {
  color: #7895c2;
}
.color-primary-4 {
  color: #1e5ec2;
}

* {
  margin: 0;
  padding: 0;
}
.main {
  font-family: 'Montserrat';
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .carddeckContainer {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.4fr 0.4fr;
    grid-template-areas: 'cardContainer cardContainer';
    grid-gap: 1rem 0.4rem;
  }
}

@media only screen and (max-width: 490px) {
  .carddeckContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 'cardContainer';
    grid-gap: 1rem 0.4rem;
  }
}
